INFLUXDB_DB=zeldy
INFLUXDB_HTTP_AUTH_ENABLED=true
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=admin_password
INFLUXDB_WRITE_USER=sensor
INFLUXDB_WRITE_USER_PASSWORD=sensor_password
INFLUXDB_READ_USER=grafana
INFLUXDB_READ_USER_PASSWORD=grafana_password  
